.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  composes: container from "../../styles/Modals.module.css";
}

.form label {
  margin: 0;
}

.input {
  composes: input from "../../styles/Forms.module.css";
  margin-top: 4px;
}

.submit {
  composes: button from "../../styles/Buttons.module.css";
  margin-top: 24px;
}

.error {
  font-size: 12px;
  color: red;
}