.add {
  display: inline-block;
  cursor: pointer;
  color: #616161;
  margin-left: 40px;
}

.add:hover {
  color: #000;
}

.plus {
  color: #a1dafb;
}

.add:hover .plus {
  color: #61dafb;
}

.form {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.text {
  composes: input from "../../styles/Forms.module.css";
  font-size: 1em;
  width: 100%;
  margin-bottom: 12px;
}

.date {
  composes: date from "../../styles/Forms.module.css";
}

label {
  display: block;
  margin-left: 12px;
}

.submit {
  composes: button from "../../styles/Buttons.module.css";
  margin-left: 12px;
}

.cancel {
  composes: button from "../../styles/Buttons.module.css";
  color: #999;
  border-color: #999;
  margin-left: 12px;
}

.cancel:hover {
  background-color: #999;
}

@media (min-width: 960px) {
  .text {
    width: auto;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
