.row:nth-child(even) {
  background: #eee;
}

.checkbox {
  width: 16px;
  height: 16px;
}

.body {
  composes: input from "../../styles/Forms.module.css";
  font-size: 1em;
}

.due {
  composes: date from "../../styles/Forms.module.css";
}

.icon {
  margin: 2px;
  opacity: 0.7;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}
