.table {
  border-spacing: 0;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.table th {
  background: #eee;
}

.table th, .table td {
  padding: 6px;
}

.table th:nth-child(1), .table td:nth-child(1) {
  width: 40px;
}

.table th:nth-child(2), .table td:nth-child(2) {
  text-align: left;
}

.table th span {
  vertical-align: middle;
}

.icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  opacity: 0.7;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}

.toggle {
  cursor: pointer;
  user-select: none;
}

.createContainer {
  text-align: left;
}

@media (min-width: 481px) {
  .table th:nth-child(1) {
  }
}
