/* All */

.tight {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: #fff;
  transition: 0.1s linear;
  position: relative;
  z-index: 10;
}

.loggedIn .container {
  width: 100%;
  max-width: 1024px;
  position: relative;
}

.header p {
  margin: 0 3em;
}

.small {
  font-size: 0.7em;
  color: #ddd;
  margin: 1em;
}

.loggedIn.header h1 {
  margin: 12px 0;
}

/* Mobile */

.header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loggedIn {
  min-height: 40px;
}
