/* All */

.tight {
  margin: 0;
  padding: 0;
}

.container {
  composes: tight;
}

.menu {
  composes: tight;
  list-style-type: none;
  max-width: 1024px;
  margin: 0 auto;
}

.menu li {
  min-width: 50%;
  min-height: 50%;
  flex: 1 50px;
}

/* Mobile */

.container {
  min-height: 50vh;
}

.menu {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.button {
  display: block;
  margin: 0.4em auto;
}

.register {
  composes: button from "../../styles/Buttons.module.css";
  composes: button;
}

.login {
  composes: button from "../../styles/Buttons.module.css";
  composes: button;
  color: #fb61da;
  border-color: #fb61da;
}

.login:hover {
  color: #fff;
  background-color: #fb61da;
}

.demo {
  composes: button from "../../styles/Buttons.module.css";
  composes: button;
  color: #fbda61;
  border-color: #fbda61;
}

.demo:hover {
  color: #fff;
  background-color: #fbda61;
}

/* Laptop */

@media (min-width: 481px) {
  .menu {
    display: flex;
    justify-content: space-evenly;
  }
  .menu li {
    min-width: 100px;
    min-height: 100px;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: center;
  }
}
